body{
	background-image: url("../images/blogpic.jpg");
	margin-bottom: -70%;
}

h1{
	padding-top: 40px;
}

.row{
	background-color: white;
  text-align: left;
  width: 65%;
  height: 300%;
  margin-top: 0%;
  margin-left: 17%;
  padding: 5% 8px 55% 4px;
  border: 1px solid black;
}
