body{
	background-color: #e3e8ec;
}

h1{
	font-family: 'Oswald', sans-serif;
}

p{
	font-size: 17px;
}

.panel.panel-default{
	margin-top: 10%;
	border-radius: 20px 20px 20px 20px;
}

.panel-body{
	background-color: #903a2b;
	border: 1px solid black;
	
}

.entireform{
	margin-left: 5%;
	margin-right: 10%;
	vertical-align: center;
}

.btn.btn-default{
	margin-top: 5%;
	margin-left: 5%;
}