body{
	background-color: #e3e8ec;
}

.nav.navbar-nav > li > a {
	color:  black;
	font-weight: bold;
	font-size: 17px;
}

h1{
	font-family: 'Oswald', sans-serif;
	padding-left: 15px;
}

span{
	font-size: 20px;
}

h4{
	padding-left: 15px;
}

p{
	text-align: justify;
}