body{
	background-color: #35404F;
}

.container{
	margin-top: 8%;
}

#brand{
	color:  #35404F;
	font-weight: bold;
	font-size: 20px;
}

.nav.navbar-nav > li > a {
	color:  #35404F;
	font-weight: bold;
	font-size: 17px;
}

span{
	font-size: 20px;
	color: #E45F56;
}

h1{
	color: #E45F56;
}

h4{
	padding-left: 15px;
	color: #E45F56;
}

p{
	text-align: justify;
	color: white;
}

.nav.navbar-nav > li > a:hover{
	float: none;
	color: #002E36;
	background-color: #d8e6eb;
}

.navbar-inverse .navbar-nav>.active>a{
	background-color: #7ACCC8 !important;
}

.navbar{
	background: #4AAAA5;
}