body{
	background-color: #35404F;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}



.opaque-navbar{
	background-color: transparent;
	background: transparent;
	border-width: 0px;
	transition: background-color .5s ease 0s;
}

.opaque-navbar.removed-opaque{
	background: #4AAAA5;
	border-bottom: 1px solid black;
	transition: background-color .5s ease 0s;
}

.nav.navbar-nav > li > a {
	color:  #35404F;
	font-weight: bold;
	font-size: 19px;
}

#brand{
	color:  #35404F;
	font-weight: bold;
	font-size: 20px;
}

.nav.navbar-nav > li > a:hover{
	float: none;
	color: #002E36;
	background-color: #d8e6eb;
}

.navbar-inverse .navbar-nav>.active>a{
	background-color: #7ACCC8 !important;
}

.jumbotron{
	background-image: url("../images/abstractmacro.jpg");
	border-bottom: 1px solid black;
	height: auto;
	width: 100%;
	min-height: 300px;
	max-height: 200px;
}

.jumbotron h1{
	color: #35404F;
	font-family: 'Courgette', cursive;
	text-align: center;
	font-weight: bold;
	font-size: 50px
}

.jumbotron h2{
	color: #C6D5CD;
	font-family: 'Courgette', cursive;
	text-align: center;
	font-weight: bold;
	font-size: 40px
}

a:link{
	color: blue;
}

a:visited {
	color: red;
}

p{
	padding: 0px 40px 0px 40px;
	text-align: justify;
}

.container{
	color: white;
}

.container h4{
	color: #E45F56;
}

h3{
	color: #E45F56;
}

.col-md-6 p{
	text-align: center;
}