body{
	background-color: #F8F8F8;
}

.jumbotron{
	background-image: url("../images/abstractmacro.jpg");
	border-bottom: 1px solid black;
	margin-top: -20px;
}

.jumbotron h1{
	color: black;
	font-family: 'Courgette', cursive;
	text-align: center;
	
	font-weight: bold;
	font-size: 50px
}

.jumbotron h2{
	color: black;
	font-family: 'Courgette', cursive;
	text-align: center;
	font-weight: bold;
	font-size: 40px
}

.container-fluid{
	background-color: #2B8190;
}

a:link{
	color: blue;
}

a:visited {
   color: red;
}

.headeralignment{
	padding-left: 20px;
}

p{ 
	padding: 0px 40px 0px 40px;
	text-align: justify;
}






