h1{
	color: black;
	font-family: 'Courgette', cursive;
	text-align: center;
}

h2{
	font-family: 'Courgette', cursive;
	text-align: center;
}

div h4{
	display: inline;
	padding: 0px 110px 0px 110px;
	align: center;
}

div p{ 
	padding: 0px 20px 0px 20px;
}

a:link{
	color: blue;
}

a:visited {
    color: black;
}

a:hover{
	color: red;
}

a:active{
	color: purple;
}

div a{
	float: left;
}

form{
	float: right;
}





