h1{
	color: black;
	font-family: Lucida Console;
	background-color: white;
	margin: -10px;
	padding: 10px;
}

body{
	background-image: url("http://web-design.gymnasium-lom.com/works/04/ra/background5ui.jpg");
	background-size: 100% 150%;
}

#ale{
	color: red;
}