<!DOCTYPE html>
<html>

<head>
  <title>My Projects</title>

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"  media="screen,projection"/>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/projects.css">
</head>

<body>

<header>
  <nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
        <a class="page-title">My Projects!</a>
      </div>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav fixed" styles="width: 240px;">
    <div class="container">
      <div class="row">
        <div class="col s12"></div>
      </div>
      <div class="row">
        <div class="col s12">
          <img src="/images/myself.jpg" alt="" class="circle responsive-img">
          <h6>Alejandra</h6>
          <h6>Jurado</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="networklinks">
            <a href="https://www.github.com/ajurado2204" target="_blank"><img class="responsive-img" src="/images/GitHub-Mark-64px.png"></a>
            <a href="https://www.linkedin.com/in/alejandrajurado" target="_blank"><img class="responsive-img" src="/images/webicon-linkedin.png"></a>
            <a href="mailto:alejandra.jurado22@gmail.com" target="_top"><i class="medium material-icons">email</i></a>
          </div>
        </div>
      </div>
    </div>

    <li class="bold"><a href="/">Home</a></li>
    <li class="bold active"><a href="/myprojects">My Projects</a></li>
    <li class="bold"><a href="/mygithub"><img src="/images/GitHub-Mark-32px.png"> Github</a></li>
  </ul>
</header>

<main>
  <div class="allinfo">

    <div class="row">
      <div class="col s12 m6 l3">
        <h6 class="project-title">Rutgers Flyer</h6>
        <h6 class="yearDone">(2016)</h6>
        <a href="https://github.com/ajurado2204/rutgersflyer" target="_blank"><img src="/images/rutgersFlyer.png" alt="RockPaperScissorDisplay" class="responsive-img rps"></a>
      </div>

      <div class="col s12 m6 l3">
        <h6 class="project-title">1View</h6>
        <h6 class="yearDone">(2016)</h6>
        <a href="https://github.com/ajurado2204/one-messaging" target="_blank"><img src="/images/one-view.png" alt="OneViewDisplay" class="responsive-img rps"></a>
      </div>

      <div class="col s12 m6 l3">
        <h6 class="project-title">My Live Catalog</h6>
        <h6 class="yearDone">(2015)</h6>
        <a href="https://github.com/ajurado2204/8-0project" target="_blank"><img src="/images/live-catalog.png" alt="LiveCatalogDisplay" class="responsive-img rps"></a>
      </div>

      <div class="col s12 m6 l3">
        <h6 class="project-title">Rock-Paper-Scissors</h6>
        <h6 class="yearDone">(2015)</h6>
        <a href="https://github.com/ajurado2204/RockPaperScissor" target="_blank"><img src="/images/RockPaperScissors.png" alt="RockPaperScissorDisplay" class="responsive-img rps"></a>
      </div>
    </div>

    <h6 class="project-title">Capstone Design Project</h6>
    <h6 class="yearDone">(2015)</h6>
    <p>
      Designed and implemented an application that allows psychiatrists to cross reference medical conditions with symptoms that were listed within the Review of Systems.
      <br>
      C#, .NET Framework, SQL server
    </p>

    <h6 class="project-title">Concurrent Web Proxy</h6>
    <h6 class="yearDone">(2015)</h6>
    <p>
      Created a proxy that accepts multiple client requests concurrently, forward the request to the server, and returns the result back to the browser, while keeping a log of such requests in a disk file.
      <br>
      C
    </p>

    <h6 class="project-title">Compiler and Optimizer for tinyL</h6>
    <h6 class="yearDone">(2014)</h6>
    <p>
      Implemented a recursive descent LL(1) parser and code generator for a specific expression language. The code optimizer takes RISC machine instructions as input and implements peephole constant propagation.
      <br>
      C
    </p>
  </div>
</main>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/forMain.js"></script>
</body>
</html>